<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>
        .product-images img {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Products</h1>
    <h3><a href="/product/add">Add Product</a></h3>

    <% if (products.length === 0) { %>
        <p>No products found.</p>
    <% } else { %>
        <table border="1">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <!-- <th>cat Id</th> -->
                    <th>Catgeory Name</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Images</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr>
                        <td><%= product.proName %></td>
                        <!-- <td><%= product.cat_id_fk %></td> -->
                        <td><%= product.cat_id_fk.catName %></td>
                        <td>$<%= product.proPrice %></td>
                        <td><%= product.status %></td>
                        <td class="product-images">
                            <% product.proPics.forEach(image => { %>
                                <img src="<%= image.url %>" alt="<%= product.proName %>" width="100px" height="100px">
                            <% }); %>
                        </td>
                        <td>
                            <a href="/product/edit/<%= product._id %>">Edit</a>
                            <a href="#" onclick="deleteProduct('<%= product._id %>')">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } %>

    <script>
        function deleteProduct(productId) {
            if (confirm('Are you sure you want to delete this product?')) {
                window.location.href = '/product/delete/' + productId;
            }
        }
    </script>
</body>
</html>
